h1{
    font-family: Comic Sans MS;   
    color:black;             
    background:blueviolet;             
    text-align: center;  

}
p{
    font-family: Comic Sans MS;   
    color:black;                       
    text-align: left;  
}
a{
    font-family: Comic Sans MS;   
    color:black;                    
    text-align:left;  
}


h4{
        font-family: Comic Sans MS;   
        color:black;                    
        text-align:left;  
}